:root {
  --cl-bg-primary: hsl(60, 47%, 93%);
  --cl-bg-main: hsl(120, 16%, 84%);
  --cl-accent: hsl(125, 5%, 47%);
  --cl-nd-accent: hsl(89, 18%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: var(--cl-accent) transparent;
}

body {
  font-family: "sora", sans-serif;
  background-color: var(--cl-bg-primary);

  display: flex;
  flex-direction: column;
  height: 100vh;

  font-weight: 300;
}

header {
  background-color: var(--cl-nd-accent);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);

  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  width: 100%;

  overflow-y: auto;
  padding: 1rem;

  background-color: var(--cl-bg-main);
}

aside {
  width: 300px;
  padding: 2rem 1.4rem;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.sidebar a {
  text-decoration: none;
  margin-bottom: 1rem;
  color: black;
  transition: color 0.3s;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.sidebar a:hover {
  color: var(--cl-accent);
}

#showFormAdd {
  border: 1px solid hsl(125, 5%, 47%);
  background-color: var(--cl-accent);
  border-radius: 8px;

  color: white;

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  padding: 0.6rem 0.4rem;

  cursor: pointer;
}

label {
  display: inline-block;
  margin-block-end: 0.3rem;
}

input {
  display: block;
  padding: 0.6rem 0.6rem;
  border: 1px solid var(--cl-bg-main);
  border-radius: 4px;

  width: 100%;
}

input:focus,
textarea:focus,
button:focus {
  border: 1px solid var(--cl-accent);
  outline: none;
  transition: border-color 0.3s ease;
}

textarea {
  width: 100%;

  padding: 0.6rem 0.6rem;
  border: 1px solid var(--cl-bg-main);
  border-radius: 4px;

  font-size: 0.975rem;
  font-family: sans-serif;
}

button {
  appearance: none;
  -webkit-appearance: none;

  margin: 0;
  padding: 0;
  border: none;

  display: inline-block;
  background: transparent;

  line-height: 1;

  cursor: pointer;
}

label,
input,
textarea,
button {
  font-size: 1rem;
  transition: all 300ms linear;
}

.container {
  padding-inline: 1rem;
  padding-block: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  padding-block: 0.3rem;
}

.btn {
  background-color: var(--cl-accent);
  color: white;

  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--cl-accent);
}

.btn:hover {
  background-color: var(--cl-nd-accent);
  color: white;
}

.btn:active {
  background-color: var(--cl-nd-accent);
  color: black;
}

.validation-message {
  margin-block-start: 0.5rem;
  font-size: 0.8rem;
  color: red;
}

input:user-invalid {
  border: 1px solid red;
}

.list,
.loading {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
}

.loading > * {
  height: 150px;
  border-radius: 8px;
  background: linear-gradient(45deg, #dcdcdc, #f0f0f0, #e0e0e0, #dcdcdc);
  background-size: 400% 400%;
  animation: gradientAnimation 4s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer {
  background-color: var(--cl-bg-primary);
}

/* icon */
.mdi--archive-arrow-down {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3 3h18v4H3zm1 18V8h16v13zm10-7v-3h-4v3H7l5 5l5-5z'/%3E%3C/svg%3E");
  background-color: #161d6f;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mdi--archive-arrow-up {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 21h16V8H4m10 7v3h-4v-3H7l5-5l5 5M3 3h18v4H3'/%3E%3C/svg%3E");
  background-color: #161d6f;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mdi--delete {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z'/%3E%3C/svg%3E");
  background-color: #aa1f31;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/* custom scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cl-accent);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button {
  display: none;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  aside {
    width: 100%;
    padding: 1rem;
  }

  #showFormAdd {
    justify-content: center;
    gap: 1rem;
  }
}
